.about {
  margin-top: 100px;
}
.heading {
  font-family: fantasy;
  margin-left: 40%;
  color: olive;
}
.portfoio {
  font-family: fantasy;
  margin-left: 40%;
  margin-bottom: -200px;
  color: olive;
}

.row {
  margin-top: 150px;
}
